db_data
.env
note
.DS_Store

##Frontend
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/env

backend/db.sqlite3
backend/Pipfile
backend/Pipfile.lock
docker-compose.yml
backend/core/__pycache__/__init__.cpython-311.pyc
backend/core/__pycache__/urls.cpython-311.pyc
backend/core/__pycache__/views.cpython-311.pyc
backend/server/__pycache__/__init__.cpython-311.pyc
backend/server/__pycache__/settings.cpython-311.pyc
backend/server/__pycache__/urls.cpython-311.pyc
backend/server/__pycache__/wsgi.cpython-311.pyc


